/*Fonte Mulish usada no site*/
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

/*Elemento raiz do documento, contendo as cores usadas no site*/
:root{
    --preto: #000000;
    --cinza: #dddddd;
    --rosa: #ff5da8;
    --cor-de-fundo: #910061;
    --branco: #ffffff;
    --roxo: #673188;
}

/*Deixando o site sem as margens-padrão, definindo sua cor de fundo e a fonte de todo o corpo*/
body{
    margin: 0;
    padding: 0;
    background-color: var(--cor-de-fundo);
    font-family: 'Mulish', sans-serif;
    text-align: center;
}

/*Definindo tamanho da fonte, cor de fundo, cor do textos e seu padding (preenchimento em tradução direta) do cabecalho*/
.cabecalho{
    font-size: 20px;
    background-color: var(--roxo);
    color: var(--branco);
    padding: 5px 5px;
}

/*Texto de introdução com tamanho, largura e cor determinados*/
.introducao{
    font-size: 40px;
    width: 100%;
    color: var(--branco);
}

/*Determina o tamanho máximo, margin, padding, cor de fundo, cor dos elementos, circunferência da borda, e fonte em negrito do questionário*/
.questionario{
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: var(--branco);
    color: var(--roxo);
    border-radius: 25px;
    font-weight: bold;
}

/*Define a exibição e tamanho máximo do formulário*/
.form{
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

/*Margens de cima e de baixo do label*/
label{
    margin-top: 5px;
    margin-bottom: 5px;
}

/*Cores, alinhamento, padding, margin, circunferência e largura do input*/
input{
    color: var(--preto);
    background-color: var(--cinza);
    border-color: var(--cinza);
    text-align: center;
    padding-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    width: 100%;
}

/*Margin, largura e altura das opções de sexo*/
.sexo{
    margin-left: 10px;
    width: 12px;
    height: 12px;   
}

/*Cores, largura, circunferência, padding, margin e alterando o cursor quando sobre o botão*/
button{
    color: var(--preto);
    background-color: var(--cinza);
    border-color: var(--cinza);
    width: auto;
    border-radius: 5px;
    padding: 5px;
    margin: 10px auto 10px auto;
    cursor: pointer;
}

/*Quando o mouse estiver sobre o botão, sua cor mudará*/
button:hover{
    background-color: var(--rosa);
}

/*Cores e padding do rodapé*/
footer{
    background-color: var(--roxo);
    color: var(--branco);
    padding: 5px 5px;
}
